# Exploring the Dataset

We import all the libraries

In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt

In [3]:
import csv
import pandas as pd
import numpy as np
import pickle

The path to WDI dataset

In [4]:
WDI_path="/home/hendra/Datasets/WDI_Indonesia/"

#### BEGIN: MWE

In [ ]:
x = np.linspace(-10, 10, 100)

In [ ]:
y = np.sin(x)

In [ ]:
plt.plot(x,y,marker="x")

#### END: MWE

We read the design matrix of X

In [5]:
WDI_df = pd.read_csv(WDI_path+"WDI-design-matrix-X.csv")

In [6]:
WDI_df.shape

(75753, 5)

In [7]:
WDI_df.head()

,Unnamed: 0,year,indicator_name,indicator_value,Unnamed: 3
0,0,1971,"Adjusted net enrolment rate, primary, both sex...",70.065018,NaN
1,1,1972,"Adjusted net enrolment rate, primary, both sex...",71.205940,NaN
2,2,1974,"Adjusted net enrolment rate, primary, both sex...",70.920738,NaN
3,3,1975,"Adjusted net enrolment rate, primary, both sex...",73.359596,NaN
4,4,1976,"Adjusted net enrolment rate, primary, both sex...",76.275833,NaN

We sort the rows according to the `year` ascendingly.

In [8]:
WDI_df_sorted = WDI_df.sort_values('year')

In [10]:
WDI_df_sorted.tail()

,Unnamed: 0,year,indicator_name,indicator_value,Unnamed: 3
74863,74863,2016,"Agricultural machinery, tractors",NaN,NaN
74862,74862,2016,Arable land (hectares),NaN,NaN
74861,74861,2016,Short-term debt (% of total reserves),NaN,NaN
74859,74859,2016,"Prevalence of wasting, weight for height (% of...",NaN,NaN
75752,75752,2016,"PPG, IBRD (INT, current US$)",NaN,NaN

In [95]:
WDI_df_sorted.tail()

,Unnamed: 0,year,indicator_name,indicator_value,Unnamed: 3
74863,74863,2016,"Agricultural machinery, tractors",NaN,NaN
74862,74862,2016,Arable land (hectares),NaN,NaN
74861,74861,2016,Short-term debt (% of total reserves),NaN,NaN
74859,74859,2016,"Prevalence of wasting, weight for height (% of...",NaN,NaN
75752,75752,2016,"PPG, IBRD (INT, current US$)",NaN,NaN

We extract all `indicator_name` from the dataframe and put them into a list.

In [96]:
indicator_list_from_df = list(WDI_df_sorted["indicator_name"].unique())

This is the number of indicators inside the list.

In [97]:
len(indicator_list_from_df)

1329

## Showing All Non-Empty Indicator Values

We print the number of values in each `indicator_name`.

Total number of indicators is **1329**

A `counter` used to count how many indicators satisfy some conditions.

In [98]:
counter = 0

We collect all indicators that satisfy 90% or more data availability.

In [99]:
indicator_list_100 = []

In [100]:
for indeks, indicator in enumerate(indicator_list_from_df):
    df_temp = WDI_df_sorted[ WDI_df_sorted['indicator_name'] == indicator  ]
    years = df_temp['year']
    values = df_temp['indicator_value']
    percentage = 57 - values.isna().sum()
    if (percentage / 57) >= 0.9:
#        print(indeks, indicator, "with number of values =", percentage, "and percentage =", 100*(percentage / 57) )
        indicator_list_100.append(indicator)
        counter += 1

Terdapat **179** indikator yang jumlah *time series values*nya di atas **90%**.

In [101]:
len(indicator_list_100)

179

For example, we show 5 indicators from the list.

In [102]:
indicator_list_100[:5]

['CO2 emissions (kg per 2010 US$ of GDP)',
 'GNI (constant LCU)',
 'GNI (current LCU)',
 'GNI per capita growth (annual %)',
 'GNI (constant 2010 US$)']

Sayang sekali, terdapat 5 (lima) indicator name yang memiliki missing data di tengah2 yaitu sebagai berikut:
1.  Final consumption expenditure, etc. (annual % growth) (nomor 18)
2.  Agriculture, value added (annual % growth) (nomor 41)
3.  Merchandise exports to low- and middle-income economies within region (% of total merchandise exports) (nomor 69)
4.  Merchandise exports to high-income economies (% of total merchandise exports) (nomor 72)
5.  Net bilateral aid flows from DAC donors, Canada (current US\$) (nomor 89) 
6.  Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)
7.  Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)
8. Net bilateral aid flows from DAC donors, Italy (current US$)

We shall remove all indicator names that have _missing values_.

1. We remove _Final consumption expenditure, etc. (annual % growth)_

In [103]:
indicator_list_100.remove('Final consumption expenditure, etc. (annual % growth)')

In [104]:
len(indicator_list_100)

178

2. We remove _Agriculture, value added (annual % growth)_

In [105]:
indicator_list_100.remove('Agriculture, value added (annual % growth)')

In [106]:
len(indicator_list_100)

177

3. We remove _Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)_

In [107]:
indicator_list_100.remove('Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)')

In [108]:
len(indicator_list_100)

176

4. We remove _Merchandise exports to high-income economies (% of total merchandise exports)_

In [109]:
indicator_list_100.remove('Merchandise exports to high-income economies (% of total merchandise exports)')

In [110]:
len(indicator_list_100)

175

5. We remove 'Net bilateral aid flows from DAC donors, Canada (current US\$)'

In [111]:
indicator_list_100.remove('Net bilateral aid flows from DAC donors, Canada (current US$)')

In [112]:
len(indicator_list_100)

174

6. We remove 'Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)'

In [114]:
indicator_list_100.remove('Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)')

In [115]:
len(indicator_list_100)

173

7. We remove 'Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)'

In [116]:
indicator_list_100.remove('Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)')

In [117]:
len(indicator_list_100)

172

8.  We remove 'Net bilateral aid flows from DAC donors, Italy (current US\$)'

In [118]:
indicator_list_100.remove('Net bilateral aid flows from DAC donors, Italy (current US$)')

In [119]:
len(indicator_list_100)

171

We save all these indicator names into a file.

In [120]:
pickle.dump( indicator_list_100, open( WDI_path+"list_of_all_indicator_names_above_90.p", "wb" ) )

Again we collect all the rows that satisfy availability of data over 90%.

In [121]:
WDI_df_over_90 = WDI_df_sorted.loc[WDI_df_sorted['indicator_name'].isin(indicator_list_100)]

Total number of rows is (_Number of Indicators_) $\times$ (_Number of Years_), that is $171 \times 57 = 9747$.

In [122]:
WDI_df_over_90.shape

(9747, 5)

In [123]:
171 * 57

9747

## Creating a Design Matrix for Features whose Availability $\ge$ 90%

We need to extract a list of years.

`list_of_years` will be our index.

In [124]:
list_of_years = list(WDI_df_over_90['year'].unique())

In [125]:
list_of_indicators = indicator_list_100

We create an empty `dataframe`.

In [126]:
new_design_df = pd.DataFrame(columns=list_of_indicators, index=list_of_years)

In [127]:
for a_year in list_of_years:    
    
    # Create a temporary dataframe
    temp_df = WDI_df_over_90[WDI_df_over_90['year'] == a_year ]
    
    # Create a list of indicator names temporary
    list_of_indicator_names_temp = list(temp_df['indicator_name'])
    
    # Create a list of indicator values temporary that corresponds to the indicator names
    list_of_indicator_values_temp = list(temp_df['indicator_value'])
    
    # Create an empy dict
    temp_set = {}
    
    # We iterate all nama indikator from list_of_indicator_names_temp
    for nama_indikator in list_of_indicator_names_temp:
        temp_set[nama_indikator] = np.sum(temp_df[ temp_df['indicator_name'] == nama_indikator ]['indicator_value'])
    
    new_design_df.loc[a_year] = pd.Series( temp_set )
    print("Populating for row", a_year, "is completed ...")

Populating for row 1960 is completed ...
Populating for row 1961 is completed ...
Populating for row 1962 is completed ...
Populating for row 1963 is completed ...
Populating for row 1964 is completed ...
Populating for row 1965 is completed ...
Populating for row 1966 is completed ...
Populating for row 1967 is completed ...
Populating for row 1968 is completed ...
Populating for row 1969 is completed ...
Populating for row 1970 is completed ...
Populating for row 1971 is completed ...
Populating for row 1972 is completed ...
Populating for row 1973 is completed ...
Populating for row 1974 is completed ...
Populating for row 1975 is completed ...
Populating for row 1976 is completed ...
Populating for row 1977 is completed ...
Populating for row 1978 is completed ...
Populating for row 1979 is completed ...
Populating for row 1980 is completed ...
Populating for row 1981 is completed ...
Populating for row 1982 is completed ...
Populating for row 1983 is completed ...
Populating for row 1984 is completed ...
Populating for row 1985 is completed ...
Populating for row 1986 is completed ...
Populating for row 1987 is completed ...
Populating for row 1988 is completed ...
Populating for row 1989 is completed ...
Populating for row 1990 is completed ...
Populating for row 1991 is completed ...
Populating for row 1992 is completed ...
Populating for row 1993 is completed ...
Populating for row 1994 is completed ...
Populating for row 1995 is completed ...
Populating for row 1996 is completed ...
Populating for row 1997 is completed ...
Populating for row 1998 is completed ...
Populating for row 1999 is completed ...
Populating for row 2000 is completed ...
Populating for row 2001 is completed ...
Populating for row 2002 is completed ...
Populating for row 2003 is completed ...
Populating for row 2004 is completed ...
Populating for row 2005 is completed ...
Populating for row 2006 is completed ...
Populating for row 2007 is completed ...
Populating for row 2008 is completed ...
Populating for row 2009 is completed ...
Populating for row 2010 is completed ...
Populating for row 2011 is completed ...
Populating for row 2012 is completed ...
Populating for row 2013 is completed ...
Populating for row 2014 is completed ...
Populating for row 2015 is completed ...
Populating for row 2016 is completed ...

In [129]:
new_design_df.shape

(57, 171)

#### BEGIN: MWE

We try to create a set of years from 1960 to 2016

In [ ]:
set(np.arange(1960, 2017));

In [ ]:
set_of_years.difference_update({2016})

#### END: MWE

In [130]:
set_of_years = set(np.arange(1962, 2014))

In [131]:
complete_values_df = new_design_df.loc[set_of_years]

In [133]:
complete_values_df.shape

(52, 171)

In [134]:
for indikator in list_of_indicators:
    print(indikator, complete_values_df.index[complete_values_df[indikator] == 0])

CO2 emissions (kg per 2010 US$ of GDP) Int64Index([], dtype='int64')
GNI (constant LCU) Int64Index([], dtype='int64')
GNI (current LCU) Int64Index([], dtype='int64')
GNI per capita growth (annual %) Int64Index([], dtype='int64')
GNI (constant 2010 US$) Int64Index([], dtype='int64')
General government final consumption expenditure (current LCU) Int64Index([], dtype='int64')
Net bilateral aid flows from DAC donors, United Kingdom (current US$) Int64Index([], dtype='int64')
Food production index (2004-2006 = 100) Int64Index([], dtype='int64')
Household final consumption expenditure (annual % growth) Int64Index([], dtype='int64')
Permanent cropland (% of land area) Int64Index([], dtype='int64')
GNI per capita (constant 2010 US$) Int64Index([], dtype='int64')
Age dependency ratio, young (% of working-age population) Int64Index([], dtype='int64')
Population density (people per sq. km of land area) Int64Index([], dtype='int64')
Industry, value added (annual % growth) Int64Index([], dtype='int64')
Age dependency ratio, old (% of working-age population) Int64Index([], dtype='int64')
GNI per capita (constant LCU) Int64Index([], dtype='int64')
Land under cereal production (hectares) Int64Index([], dtype='int64')
Agricultural land (sq. km) Int64Index([], dtype='int64')
Cereal yield (kg per hectare) Int64Index([], dtype='int64')
Cereal production (metric tons) Int64Index([], dtype='int64')
Agriculture, value added (constant LCU) Int64Index([], dtype='int64')
Household final consumption expenditure, etc. (annual % growth) Int64Index([], dtype='int64')
Gross capital formation (annual % growth) Int64Index([], dtype='int64')
Aquaculture production (metric tons) Int64Index([], dtype='int64')
Final consumption expenditure, etc. (current LCU) Int64Index([], dtype='int64')
Final consumption expenditure, etc. (constant LCU) Int64Index([], dtype='int64')
Final consumption expenditure, etc. (constant 2010 US$) Int64Index([], dtype='int64')
Arms imports (SIPRI trend indicator values) Int64Index([], dtype='int64')
Final consumption expenditure, etc. (% of GDP) Int64Index([], dtype='int64')
Final consumption expenditure (current LCU) Int64Index([], dtype='int64')
Final consumption expenditure (constant LCU) Int64Index([], dtype='int64')
Final consumption expenditure (constant 2010 US$) Int64Index([], dtype='int64')
Agriculture, value added (current LCU) Int64Index([], dtype='int64')
General government final consumption expenditure (annual % growth) Int64Index([], dtype='int64')
Agriculture, value added (constant 2010 US$) Int64Index([], dtype='int64')
Agriculture, value added (% of GDP) Int64Index([], dtype='int64')
Surface area (sq. km) Int64Index([], dtype='int64')
Crop production index (2004-2006 = 100) Int64Index([], dtype='int64')
General government final consumption expenditure (constant 2010 US$) Int64Index([], dtype='int64')
Exports of goods and services (annual % growth) Int64Index([], dtype='int64')
General government final consumption expenditure (constant LCU) Int64Index([], dtype='int64')
General government final consumption expenditure (% of GDP) Int64Index([], dtype='int64')
Household final consumption expenditure per capita growth (annual %) Int64Index([], dtype='int64')
Agricultural land (% of land area) Int64Index([], dtype='int64')
GNI growth (annual %) Int64Index([], dtype='int64')
Population in the largest city (% of urban population) Int64Index([], dtype='int64')
Exports of goods and services (current LCU) Int64Index([], dtype='int64')
Population in largest city Int64Index([], dtype='int64')
Merchandise imports (current US$) Int64Index([], dtype='int64')
Population growth (annual %) Int64Index([], dtype='int64')
Exports of goods and services (constant LCU) Int64Index([], dtype='int64')
Industry, value added (% of GDP) Int64Index([], dtype='int64')
Capture fisheries production (metric tons) Int64Index([], dtype='int64')
External balance on goods and services (% of GDP) Int64Index([], dtype='int64')
Merchandise imports by the reporting economy, residual (% of total merchandise imports) Int64Index([], dtype='int64')
Population ages 65 and above (% of total) Int64Index([], dtype='int64')
External balance on goods and services (constant LCU) Int64Index([], dtype='int64')
Merchandise imports by the reporting economy (current US$) Int64Index([], dtype='int64')
Population ages 15-64 (% of total) Int64Index([], dtype='int64')
Population in urban agglomerations of more than 1 million Int64Index([], dtype='int64')
Population in urban agglomerations of more than 1 million (% of total population) Int64Index([], dtype='int64')
Rural population growth (annual %) Int64Index([], dtype='int64')
Rural population (% of total population) Int64Index([], dtype='int64')
Exports of goods and services (% of GDP) Int64Index([], dtype='int64')
Rural population Int64Index([], dtype='int64')
Merchandise exports to low- and middle-income economies in East Asia & Pacific (% of total merchandise exports) Int64Index([], dtype='int64')
Population, total Int64Index([], dtype='int64')
Population, female (% of total) Int64Index([], dtype='int64')
Exports of goods and services (constant 2010 US$) Int64Index([], dtype='int64')
Exports as a capacity to import (constant LCU) Int64Index([], dtype='int64')
Merchandise imports from high-income economies (% of total merchandise imports) Int64Index([], dtype='int64')
Life expectancy at birth, male (years) Int64Index([], dtype='int64')
Mortality rate, infant (per 1,000 live births) Int64Index([], dtype='int64')
Net official development assistance and official aid received (constant 2013 US$) Int64Index([], dtype='int64')
Inflation, consumer prices (annual %) Int64Index([], dtype='int64')
Mortality rate, under-5 (per 1,000 live births) Int64Index([], dtype='int64')
Net ODA received per capita (current US$) Int64Index([], dtype='int64')
Net official development assistance and official aid received (current US$) Int64Index([], dtype='int64')
CO2 emissions from gaseous fuel consumption (% of total) Int64Index([], dtype='int64')
Net bilateral aid flows from DAC donors, United States (current US$) Int64Index([], dtype='int64')
Net bilateral aid flows from DAC donors, Germany (current US$) Int64Index([], dtype='int64')
Net bilateral aid flows from DAC donors, Total (current US$) Int64Index([], dtype='int64')
Net income from abroad (current LCU) Int64Index([], dtype='int64')
External balance on goods and services (current LCU) Int64Index([], dtype='int64')
Mortality rate, adult, male (per 1,000 male adults) Int64Index([], dtype='int64')
Net official development assistance received (current US$) Int64Index([], dtype='int64')
Population ages 0-14 (% of total) Int64Index([], dtype='int64')
Industry, value added (constant 2010 US$) Int64Index([], dtype='int64')
Industry, value added (constant LCU) Int64Index([], dtype='int64')
Net official development assistance received (constant 2013 US$) Int64Index([], dtype='int64')
Birth rate, crude (per 1,000 people) Int64Index([], dtype='int64')
Number of under-five deaths Int64Index([], dtype='int64')
Merchandise imports from low- and middle-income economies outside region (% of total merchandise imports) Int64Index([], dtype='int64')
Number of infant deaths Int64Index([], dtype='int64')
Industry, value added (current LCU) Int64Index([], dtype='int64')
Mortality rate, adult, female (per 1,000 female adults) Int64Index([], dtype='int64')
Merchandise imports from low- and middle-income economies in South Asia (% of total merchandise imports) Int64Index([], dtype='int64')
Imports of goods and services (current LCU) Int64Index([], dtype='int64')
Discrepancy in expenditure estimate of GDP (current LCU) Int64Index([], dtype='int64')
Gross national expenditure (current LCU) Int64Index([], dtype='int64')
Fertility rate, total (births per woman) Int64Index([], dtype='int64')
Gross national expenditure deflator (base year varies by country) Int64Index([], dtype='int64')
Life expectancy at birth, total (years) Int64Index([], dtype='int64')
Household final consumption expenditure (constant 2010 US$) Int64Index([], dtype='int64')
Gross national expenditure (constant LCU) Int64Index([], dtype='int64')
Household final consumption expenditure (constant LCU) Int64Index([], dtype='int64')
Household final consumption expenditure per capita (constant 2010 US$) Int64Index([], dtype='int64')
Household final consumption expenditure, etc. (% of GDP) Int64Index([], dtype='int64')
CO2 emissions from gaseous fuel consumption (kt) Int64Index([], dtype='int64')
Household final consumption expenditure, etc. (constant 2010 US$) Int64Index([], dtype='int64')
Household final consumption expenditure, etc. (constant LCU) Int64Index([], dtype='int64')
Household final consumption expenditure, etc. (current LCU) Int64Index([], dtype='int64')
Household final consumption expenditure (current LCU) Int64Index([], dtype='int64')
Urban population growth (annual %) Int64Index([], dtype='int64')
Gross national expenditure (constant 2010 US$) Int64Index([], dtype='int64')
Gross domestic savings (current LCU) Int64Index([], dtype='int64')
Gross national expenditure (% of GDP) Int64Index([], dtype='int64')
Grants, excluding technical cooperation (BoP, current US$) Int64Index([], dtype='int64')
Gross capital formation (constant 2010 US$) Int64Index([], dtype='int64')
Gross capital formation (constant LCU) Int64Index([], dtype='int64')
Gross capital formation (current LCU) Int64Index([], dtype='int64')
Gross domestic income (constant LCU) Int64Index([], dtype='int64')
Gross domestic savings (% of GDP) Int64Index([], dtype='int64')
CO2 emissions (kt) Int64Index([], dtype='int64')
Gross capital formation (% of GDP) Int64Index([], dtype='int64')
Merchandise exports by the reporting economy, residual (% of total merchandise exports) Int64Index([], dtype='int64')
Urban population (% of total) Int64Index([], dtype='int64')
Manufacturing, value added (constant 2010 US$) Int64Index([], dtype='int64')
Services, etc., value added (current LCU) Int64Index([], dtype='int64')
Consumer price index (2010 = 100) Int64Index([], dtype='int64')
Imports of goods and services (constant 2010 US$) Int64Index([], dtype='int64')
Manufacturing, value added (constant LCU) Int64Index([], dtype='int64')
Services, etc., value added (constant LCU) Int64Index([], dtype='int64')
CO2 emissions from solid fuel consumption (kt) Int64Index([], dtype='int64')
Manufacturing, value added (current LCU) Int64Index([], dtype='int64')
Death rate, crude (per 1,000 people) Int64Index([], dtype='int64')
Merchandise exports (current US$) Int64Index([], dtype='int64')
Discrepancy in expenditure estimate of GDP (constant LCU) Int64Index([], dtype='int64')
Services, etc., value added (% of GDP) Int64Index([], dtype='int64')
Imports of goods and services (constant LCU) Int64Index([], dtype='int64')
Merchandise exports by the reporting economy (current US$) Int64Index([], dtype='int64')
Services, etc., value added (constant 2010 US$) Int64Index([], dtype='int64')
Urban population Int64Index([], dtype='int64')
CO2 emissions from solid fuel consumption (% of total) Int64Index([], dtype='int64')
Manufacturing, value added (% of GDP) Int64Index([], dtype='int64')
Life expectancy at birth, female (years) Int64Index([], dtype='int64')
Trade (% of GDP) Int64Index([], dtype='int64')
Total reserves minus gold (current US$) Int64Index([], dtype='int64')
CO2 emissions (metric tons per capita) Int64Index([], dtype='int64')
Survival to age 65, female (% of cohort) Int64Index([], dtype='int64')
Total reserves (includes gold, current US$) Int64Index([], dtype='int64')
Imports of goods and services (% of GDP) Int64Index([], dtype='int64')
Terms of trade adjustment (constant LCU) Int64Index([], dtype='int64')
Technical cooperation grants (BoP, current US$) Int64Index([], dtype='int64')
CO2 emissions from liquid fuel consumption (% of total) Int64Index([], dtype='int64')
CO2 emissions from liquid fuel consumption (kt) Int64Index([], dtype='int64')
Survival to age 65, male (% of cohort) Int64Index([], dtype='int64')
Total fisheries production (metric tons) Int64Index([], dtype='int64')
Arable land (hectares per person) Int64Index([], dtype='int64')
Land area (sq. km) Int64Index([], dtype='int64')
Age dependency ratio (% of working-age population) Int64Index([], dtype='int64')
GNI per capita (current LCU) Int64Index([], dtype='int64')
Inflation, GDP deflator (annual %) Int64Index([], dtype='int64')
Manufacturing, value added (annual % growth) Int64Index([], dtype='int64')
Arable land (hectares) Int64Index([], dtype='int64')
Imports of goods and services (annual % growth) Int64Index([], dtype='int64')
Net bilateral aid flows from DAC donors, Japan (current US$) Int64Index([], dtype='int64')
Adolescent fertility rate (births per 1,000 women ages 15-19) Int64Index([], dtype='int64')
Arable land (% of land area) Int64Index([], dtype='int64')
Livestock production index (2004-2006 = 100) Int64Index([], dtype='int64')
Services, etc., value added (annual % growth) Int64Index([], dtype='int64')

In [135]:
len(set_of_years)

52

In [136]:
pickle.dump( list(set_of_years), open( WDI_path+"list_of_years_with_complete_values.p", "wb" ))

In [137]:
complete_values_df.to_csv(WDI_path+"completed_values_1962_2013_design_matrix.csv")

In [138]:
complete_values_df.shape

(52, 171)

#### ===============================================================

In [ ]:
len(indicator_list_over_60)

In [ ]:
WDI_df_sorted.head()

In [ ]:
WDI_over_60 = WDI_df_sorted.loc[WDI_df_sorted['indicator_name'].isin(indicator_list_over_60) ]

**Sanity check**: there should be $522 \times 57 = 29754$

In [ ]:
WDI_over_60.shape

## Creating a Design Matrix for Features whose Availability $\ge$ 60%

We need to extract a list of years.

`list_of_years` will be our index.

In [ ]:
list_of_years = list(WDI_over_60['year'].unique())

In [ ]:
list_of_indicators = indicator_list_over_60

In [ ]:
a_year = list_of_years[0]

In [ ]:
a_year

We create an empty `dataframe`.

In [ ]:
new_design_df = pd.DataFrame(columns=list_of_indicators, index=list_of_years)

In [ ]:
temp_df = WDI_over_60[WDI_over_60['year'] == a_year]

In [ ]:
len(list(temp_df['indicator_name']))

In [ ]:
list(temp_df["indicator_name"])[0]

In [ ]:
list( temp_df['indicator_value'] )[0]

In [ ]:
for a_year in list_of_years:    
    
    # Create a temporary dataframe
    temp_df = WDI_over_60[WDI_over_60['year'] == a_year ]
    
    # Create a list of indicator names temporary
    list_of_indicator_names_temp = list(temp_df['indicator_name'])
    
    # Create a list of indicator values temporary that corresponds to the indicator names
    list_of_indicator_values_temp = list(temp_df['indicator_value'])
    
    # Create an empy dict
    temp_set = {}
    
    # We iterate all nama indikator from list_of_indicator_names_temp
    for nama_indikator in list_of_indicator_names_temp:
        temp_set[nama_indikator] = np.sum(temp_df[ temp_df['indicator_name'] == nama_indikator ]['indicator_value'])
    
    new_design_df.loc[a_year] = pd.Series( temp_set )
    print("Populating for row", a_year, "is completed ...")

In [ ]:
new_design_df.head()

In [ ]:
new_design_df.shape

In [ ]:
WDI_path

We save the result into a `csv` file.

In [ ]:
new_design_df.to_csv(WDI_path+"design_matrix_over_60_percent.csv")

The code below shows how to get the `indicator_value` from an `indicator_name`.

In [ ]:
np.sum(temp_df[ temp_df['indicator_name'] == 'CO2 emissions (kg per 2010 US$ of GDP)']['indicator_value'])

In [ ]:
temp_df['indicator_name'].unique()

In [ ]:
counter

In [ ]:
1329 - 807

In [ ]:
522 * 57

In [ ]:
counter /1329

## Counting for the Y considering the availability of Y $\ge$ 90%

In [139]:
WDI_Y_df = pd.read_csv(WDI_path+"WDI-design-matrix-Y.csv")

In [140]:
WDI_Y_df.head()

   Unnamed: 0  year      indicator_name  indicator_value
0           0  1960  GDP (constant LCU)     4.607980e+14
1           1  1961  GDP (constant LCU)     4.889300e+14
2           2  1962  GDP (constant LCU)     4.982660e+14
3           3  1963  GDP (constant LCU)     4.870400e+14
4           4  1964  GDP (constant LCU)     5.038500e+14

In [141]:
WDI_Y_df_sorted =  WDI_Y_df.sort_values('year')

In [142]:
WDI_Y_df_sorted.tail()

,Unnamed: 0,year,indicator_name,indicator_value
625,625,2015,"GDP per capita, PPP (constant 2011 internation...",1.038532e+04
216,216,2015,GDP at market prices (constant 2010 US$),9.875140e+11
383,383,2015,GDP per capita (constant 2010 US$),3.834056e+03
160,160,2015,GDP (current US$),8.619340e+11
1007,1007,2015,GDP per unit of energy use (PPP $ per kg of oi...,NaN

In [144]:
indicator_Y_list = list(WDI_Y_df_sorted["indicator_name"].unique())

In [145]:
indicator_Y_list[:5]

['GDP (constant LCU)',
 'GDP per capita, PPP (current international $)',
 'GDP growth (annual %)',
 'GDP per capita, PPP (constant 2011 international $)',
 'GDP per person employed (constant 2011 PPP $)']

The number of indicator names is 18.

In [146]:
len(indicator_Y_list)

18

In [147]:
indicator_y_list_over_90 = []

In [148]:
counter = 0

In [149]:
for indeks, indicator in enumerate(indicator_Y_list):
    df_temp = WDI_Y_df_sorted[ WDI_Y_df_sorted['indicator_name'] == indicator  ]
    years = df_temp['year']
    values = df_temp['indicator_value']
    percentage = (56 - values.isna().sum()) / 56 * 100
    if percentage >= 90.00:
        indicator_y_list_over_90.append( indicator )
        print(indeks, indicator, "with number of values =", percentage)

0 GDP (constant LCU) with number of values = 100.0
2 GDP growth (annual %) with number of values = 98.21428571428571
8 GDP per capita growth (annual %) with number of values = 98.21428571428571
12 GDP per capita (constant 2010 US$) with number of values = 100.0
13 GDP at market prices (constant 2010 US$) with number of values = 100.0
14 GDP per capita (constant LCU) with number of values = 100.0
15 GDP deflator (base year varies by country) with number of values = 100.0
16 GDP (current LCU) with number of values = 100.0
17 GDP per capita (current LCU) with number of values = 100.0

The number of indicators that are $\ge$ 90% is 9.

In [150]:
len(indicator_y_list_over_90)

9

We consider that all these 9 indicators have complete values

We need to extract a list of years.

`list_of_years` will be our index.

In [151]:
list_of_years = list(WDI_Y_df_sorted['year'].unique())

In [152]:
list_of_indicators = indicator_y_list_over_90

We create an empty `dataframe`.

In [153]:
new_design_Y_df = pd.DataFrame(columns=list_of_indicators, index=list_of_years)

In [154]:
for a_year in list_of_years:    
    
    # Create a temporary dataframe
    temp_df = WDI_Y_df_sorted[WDI_Y_df_sorted['year'] == a_year ]
    
    # Create a list of indicator names temporary
    list_of_indicator_names_temp = list(temp_df['indicator_name'])
    
    # Create a list of indicator values temporary that corresponds to the indicator names
    list_of_indicator_values_temp = list(temp_df['indicator_value'])
    
    # Create an empy dict
    temp_set = {}
    
    # We iterate all nama indikator from list_of_indicator_names_temp
    for nama_indikator in list_of_indicator_names_temp:
        temp_set[nama_indikator] = np.sum(temp_df[ temp_df['indicator_name'] == nama_indikator ]['indicator_value'])
    
    new_design_Y_df.loc[a_year] = pd.Series( temp_set )
    print("Populating for row", a_year, "is completed ...")

Populating for row 1960 is completed ...
Populating for row 1961 is completed ...
Populating for row 1962 is completed ...
Populating for row 1963 is completed ...
Populating for row 1964 is completed ...
Populating for row 1965 is completed ...
Populating for row 1966 is completed ...
Populating for row 1967 is completed ...
Populating for row 1968 is completed ...
Populating for row 1969 is completed ...
Populating for row 1970 is completed ...
Populating for row 1971 is completed ...
Populating for row 1972 is completed ...
Populating for row 1973 is completed ...
Populating for row 1974 is completed ...
Populating for row 1975 is completed ...
Populating for row 1976 is completed ...
Populating for row 1977 is completed ...
Populating for row 1978 is completed ...
Populating for row 1979 is completed ...
Populating for row 1980 is completed ...
Populating for row 1981 is completed ...
Populating for row 1982 is completed ...
Populating for row 1983 is completed ...
Populating for row 1984 is completed ...
Populating for row 1985 is completed ...
Populating for row 1986 is completed ...
Populating for row 1987 is completed ...
Populating for row 1988 is completed ...
Populating for row 1989 is completed ...
Populating for row 1990 is completed ...
Populating for row 1991 is completed ...
Populating for row 1992 is completed ...
Populating for row 1993 is completed ...
Populating for row 1994 is completed ...
Populating for row 1995 is completed ...
Populating for row 1996 is completed ...
Populating for row 1997 is completed ...
Populating for row 1998 is completed ...
Populating for row 1999 is completed ...
Populating for row 2000 is completed ...
Populating for row 2001 is completed ...
Populating for row 2002 is completed ...
Populating for row 2003 is completed ...
Populating for row 2004 is completed ...
Populating for row 2005 is completed ...
Populating for row 2006 is completed ...
Populating for row 2007 is completed ...
Populating for row 2008 is completed ...
Populating for row 2009 is completed ...
Populating for row 2010 is completed ...
Populating for row 2011 is completed ...
Populating for row 2012 is completed ...
Populating for row 2013 is completed ...
Populating for row 2014 is completed ...
Populating for row 2015 is completed ...

In [155]:
new_design_Y_df.shape

(56, 9)

In [156]:
new_design_Y_df

,GDP (constant LCU),GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (constant 2010 US$),GDP at market prices (constant 2010 US$),GDP per capita (constant LCU),GDP deflator (base year varies by country),GDP (current LCU),GDP per capita (current LCU)
1960,4.60798e+14,0,0,577.389,5.06905e+10,5.24872e+06,8.94e-05,4.12e+08,4.69288
1961,4.8893e+14,6.10492,3.34368,596.695,5.37851e+10,5.42422e+06,0.000101446,4.96e+08,5.50266
1962,4.98266e+14,1.90966,-0.754594,592.193,5.48122e+10,5.38329e+06,0.00028278,1.409e+09,15.2229
1963,4.8704e+14,-2.25304,-4.82142,563.641,5.35772e+10,5.12374e+06,0.00069522,3.386e+09,35.6212
1964,5.0385e+14,3.45147,0.715352,567.673,5.54264e+10,5.16039e+06,0.00149409,7.528e+09,77.1011
1965,5.08622e+14,0.94708,-1.74078,557.791,5.59514e+10,5.07056e+06,0.00491917,2.502e+10,249.43
1966,5.2312e+14,2.85043,0.0977779,558.336,5.75462e+10,5.07552e+06,0.0637234,3.3335e+11,3234.29
1967,5.29005e+14,1.125,-1.58681,549.476,5.81936e+10,4.99498e+06,0.169116,8.94632e+11,8447.3
1968,5.92667e+14,12.0342,9.03399,599.116,6.51967e+10,5.44622e+06,0.373316,2.21252e+12,20331.6
1969,6.36983e+14,7.47739,4.61402,626.759,7.00718e+10,5.69751e+06,0.45032,2.86846e+12,25657
1970,6.8891e+14,8.1521,5.29401,659.94,7.57841e+10,5.99914e+06,0.511636,3.52471e+12,30693.8
1971,7.37116e+14,6.99736,4.19616,687.632,8.1087e+10,6.25087e+06,0.525676,3.87484e+12,32859.4
1972,7.9522e+14,7.8827,5.08669,722.61,8.74788e+10,6.56884e+06,0.605632,4.81611e+12,39783
1973,8.72962e+14,9.77616,6.96396,772.932,9.60309e+10,7.02629e+06,0.816306,7.12604e+12,57356
1974,9.45042e+14,8.25688,5.51962,815.595,1.0396e+11,7.41411e+06,1.19566,1.12995e+13,88647.7
1975,1.00348e+15,6.18343,3.53633,844.437,1.10388e+11,7.6763e+06,1.32952,1.33414e+13,102058
1976,1.06357e+15,5.98815,3.38882,873.054,1.16999e+11,7.93644e+06,1.53459,1.63214e+13,121792
1977,1.15542e+15,8.63647,6.01677,925.583,1.27103e+11,8.41395e+06,1.73827,2.00844e+13,146258
1978,1.26178e+15,9.20556,6.60966,986.761,1.38804e+11,8.97009e+06,1.90227,2.40025e+13,170635
1979,1.35128e+15,7.09262,4.57416,1031.9,1.48648e+11,9.38039e+06,2.54164,3.43447e+13,238416
1980,1.46918e+15,8.725,6.19147,1095.79,1.61618e+11,9.96118e+06,3.32931,4.89135e+13,331639
1981,1.58889e+15,8.14819,5.64935,1157.69,1.74787e+11,1.05239e+07,3.67686,5.84213e+13,386950
1982,1.60643e+15,1.10407,-1.20416,1143.75,1.76717e+11,1.03972e+07,3.89973,6.26465e+13,405463
1983,1.74217e+15,8.44991,6.02208,1212.63,1.91649e+11,1.10233e+07,4.45551,7.76228e+13,491146
1984,1.86712e+15,7.17215,4.84288,1271.35,2.05394e+11,1.15572e+07,4.81409,8.98851e+13,556373
1985,1.93205e+15,3.47754,1.30993,1288.01,2.12537e+11,1.17086e+07,5.0204,9.69968e+13,587816
1986,2.04729e+15,5.96452,3.83151,1337.36,2.25214e+11,1.21572e+07,5.01553,1.02683e+14,609747
1987,2.1558e+15,5.3,3.26004,1380.96,2.3715e+11,1.25535e+07,5.78982,1.24817e+14,726825
1988,2.29281e+15,6.35568,4.36714,1441.27,2.52223e+11,1.31017e+07,6.52775,1.49669e+14,855249
1989,2.50111e+15,9.08471,7.10643,1543.69,2.75137e+11,1.40328e+07,7.18008,1.79582e+14,1.00757e+06
1990,2.72625e+15,9.00157,7.07696,1652.93,2.99903e+11,1.50259e+07,7.73467,2.10866e+14,1.1622e+06
1991,2.96964e+15,8.9278,7.05274,1769.51,3.26678e+11,1.60856e+07,8.41746,2.49969e+14,1.354e+06
1992,3.18407e+15,7.2205,5.42322,1865.48,3.50266e+11,1.6958e+07,8.869,2.82395e+14,1.504e+06
1993,3.41504e+15,7.25408,5.50588,1968.19,3.75674e+11,1.78917e+07,9.65658,3.29776e+14,1.72772e+06
1994,3.67254e+15,7.54007,5.8396,2083.12,4.04e+11,1.89365e+07,10.4075,3.8222e+14,1.97082e+06
1995,3.9809e+15,8.39636,6.73543,2223.43,4.37922e+11,2.02119e+07,11.4174,4.54514e+14,2.30767e+06
1996,4.28515e+15,7.64279,6.04437,2357.82,4.71391e+11,2.14336e+07,12.4282,5.32568e+14,2.66382e+06
1997,4.48655e+15,4.69987,3.18903,2433.01,4.93546e+11,2.21171e+07,13.9906,6.27695e+14,3.09432e+06
1998,3.89761e+15,-13.1267,-14.351,2083.85,4.28759e+11,1.89431e+07,24.5215,9.55754e+14,4.64514e+06
1999,3.92844e+15,0.79113,-0.605245,2071.24,4.32151e+11,1.88284e+07,27.9941,1.09973e+15,5.27085e+06
2000,4.12173e+15,4.92006,3.48353,2143.39,4.53414e+11,1.94843e+07,33.7182,1.38977e+15,6.56976e+06
2001,4.2719e+15,3.64347,2.23808,2191.36,4.69934e+11,1.99204e+07,38.5384,1.64632e+15,7.67701e+06
2002,4.46411e+15,4.49948,3.09532,2259.19,4.91078e+11,2.0537e+07,40.8106,1.82183e+15,8.38129e+06
2003,4.67751e+15,4.78037,3.38269,2335.61,5.14553e+11,2.12317e+07,43.0501,2.01367e+15,9.14028e+06
2004,4.91283e+15,5.03087,3.63804,2420.58,5.4044e+11,2.20041e+07,46.7312,2.29583e+15,1.02828e+07
2005,5.1925e+15,5.69257,4.29765,2524.61,5.71205e+11,2.29498e+07,53.4286,2.77428e+15,1.22618e+07
2006,5.47814e+15,5.50095,4.11617,2628.53,6.02627e+11,2.38945e+07,60.9553,3.33922e+15,1.45649e+07
2007,5.82573e+15,6.34502,4.95659,2758.81,6.40863e+11,2.50788e+07,67.818,3.95089e+15,1.7008e+07
2008,6.17607e+15,6.0137,4.63361,2886.65,6.79403e+11,2.62409e+07,80.1268,4.94869e+15,2.1026e+07
2009,6.46195e+15,4.62887,3.26679,2980.95,7.10852e+11,2.70981e+07,86.7571,5.6062e+15,2.35095e+07
2010,6.86413e+15,6.22385,4.83987,3125.22,7.55094e+11,2.84096e+07,100,6.86413e+15,2.84096e+07
2011,7.28764e+15,6.16978,4.7841,3274.73,8.01682e+11,2.97687e+07,107.466,7.83173e+15,3.19913e+07
2012,7.72708e+15,6.03005,4.64948,3426.99,8.50024e+11,3.11528e+07,111.5,8.6157e+15,3.47354e+07
2013,8.1565e+15,5.55726,4.20017,3570.93,8.97262e+11,3.24613e+07,117.037,9.54613e+15,3.79918e+07
2014,8.56627e+15,5.02389,3.70869,3703.37,9.42339e+11,3.36652e+07,123.342,1.06e+16,4.15234e+07
2015,8.97693e+15,4.79392,3.52896,3834.06,9.87514e+11,3.48532e+07,128.561,1.15e+16,4.48075e+07

In [157]:
set_of_years = set(np.arange(1962, 2014))

In [158]:
complete_values_Y_df = new_design_Y_df.loc[set_of_years]

In [159]:
complete_values_Y_df.shape

(52, 9)

In [160]:
complete_values_Y_df.to_csv(WDI_path+"complete_values_Y_1962_2013_design_matrix.csv")

In [ ]:
WDI_Y_over_60 = WDI_Y_df_sorted.loc[WDI_Y_df_sorted['indicator_name'].isin(indicator_y_list_over_60) ]

In [ ]:
list_of_y_years = list(WDI_Y_df_sorted['year'].unique())

`list_of_years` will be our index.

In [ ]:
list_of_y_indicators = indicator_y_list_over_60

We create an empty `dataframe`.

In [ ]:
new_design_Y_df = pd.DataFrame(columns=list_of_y_indicators, index=list_of_y_years)

In [ ]:
for a_year in list_of_y_years:    
    
    # Create a temporary dataframe
    temp_df = WDI_Y_over_60[WDI_Y_over_60['year'] == a_year ]
    
    # Create a list of indicator names temporary
    list_of_indicator_names_temp = list(temp_df['indicator_name'])
    
    # Create a list of indicator values temporary that corresponds to the indicator names
    list_of_indicator_values_temp = list(temp_df['indicator_value'])
    
    # Create an empy dict
    temp_set = {}
    
    # We iterate all nama indikator from list_of_indicator_names_temp
    for nama_indikator in list_of_indicator_names_temp:
        temp_set[nama_indikator] = np.sum(temp_df[ temp_df['indicator_name'] == nama_indikator ]['indicator_value'])
    
    new_design_Y_df.loc[a_year] = pd.Series( temp_set )
    print("Populating Y Matrix for row", a_year, "is completed ...")

In [ ]:
new_design_Y_df.head()

In [ ]:
new_design_Y_df.to_csv(WDI_path+"design_matrix_Y_over_60_percent.csv")

In [ ]:
new_design_Y_df.shape

In [ ]:
WDI_Y_over_60.shape

In [ ]:
11 * 56

## Indeks ke-0: CO2 emissions (kg per 2010 US of GDP)

In [ ]:
indicator_list_from_df[0]

In [ ]:
df_co2_emissions = WDI_df_sorted[ WDI_df_sorted['indicator_name'] == indicator_list_from_df[0] ]

In [ ]:
years  = df_co2_emissions['year']
values = df_co2_emissions['indicator_value']

In [ ]:
values.min()

In [ ]:
values.max()

Number of years in **time series** is **57**

In [ ]:
plt.plot(years, values)
plt.xlim(1959, 2017)
plt.ylim(values.min(), values.max())
plt.axvline(x=1960, linestyle=":")
plt.axvline(x=2016, linestyle=":")
plt.xlabel('years')
plt.ylabel(indicator_list_from_df[0])
plt.title("0 Time series for "+indicator_list_from_df[0])
plt.show()

## Indeks ke-1: Youth literacy rate, population 15-24 years, both sexes (%)

In [ ]:
indicator_list_from_df[1]

In [ ]:
df_youth_literacy = WDI_df_sorted[ WDI_df_sorted['indicator_name'] == indicator_list_from_df[1] ]

In [ ]:
years  = df_youth_literacy['year']
values = df_youth_literacy['indicator_value']

In [ ]:
57 - values.isna().sum()

## Indeks ke-2: Diarrhea treatment (% of children under 5 who received ORS packet)

In [ ]:
indicator_list_from_df[2]

In [ ]:
df_temp = WDI_df_sorted[WDI_df_sorted['indicator_name'] == indicator_list_from_df[2]]

In [ ]:
years = df_temp['year']
values = df_temp['indicator_value']

In [ ]:
57 - values.isna().sum()